@font-face {
    font-family: Outfit;
    src: url(/asset/font/Outfit/Outfit-ExtraLight.ttf);
}

:root {
    --background-color:#2D2D2D;
    --gradient-nav: linear-gradient( to right, #2D2D2D, #1D1D1D );
    --gradient-botton-mode: linear-gradient(to right, #2D2D2D, #1D1D1D 100%);
    --svg-mode:url(/asset/img/svg/sun-svgrepo-com.svg);
    --gradient-bottons-links:linear-gradient(to right, #ffffff -300% , #1D1D1D 100%);
    --font-color:#ffffff;

    --img-github:url(/asset/img/svg/github-svgrepo-com-white.svg);
    --img-linkedin:url(/asset/img/svg/linkedin-white.svg);
    --img-portifolio:url(/asset/img/svg/portifolio-white.svg);
    --img-email:url(/asset/img/svg/email-white.svg);
    --img-instagram:url(/asset/img/svg/instagram-white.svg);
    transition: 1s;

}

.light {
    --background-color:#DADADA;
    --gradient-nav: linear-gradient( to right, #DADADA, #FFFFFF );
    --gradient-botton-mode: linear-gradient(to right, #DADADA, #FFFFFF 100%);
    --svg-mode:url(/asset/img/svg/moon-svgrepo-com.svg);
    --gradient-bottons-links:linear-gradient(to left, #FFFFFF , #bcbcbc );
    --font-color:#3a3a3a;

    --img-github:url(/asset/img/svg/github-svgrepo-com.svg);
    --img-linkedin:url(/asset/img/svg/linkedin-black.svg);
    --img-portifolio:url(/asset/img/svg/portifolio-black.svg);
    --img-email:url(/asset/img/svg/email-black.svg);
    --img-instagram:url(/asset/img/svg/instagram-black.svg);
    transition: 1s;
}



body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow-x: hidden;
    transition: .5s;
}

body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    background: var(--background-color);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #1D1D1D;    
    border-radius: 20px;       
    border: 3px solid var(--background-color);  
  }

header {
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    padding: 1% 0 1% 0;
}

header botton {
    display: flex;
    align-items: center;
    justify-content: end;

    width:45px;
    height: 30px;
    padding-right: 4px;
    background: var(--gradient-botton-mode);

    border-radius: 0px 10px 2px 0px;
    cursor: pointer;
    transition: 1s;
    
}

header botton:hover {
    width:55px;
}

header botton div {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background: var(--svg-mode) no-repeat;
    transition: 1s;
}

main {
    width: 100vw;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width:90%;
    max-width: 429px;
    height: 500px;
    gap: 25px;
    margin: 20px 0px 20px 0;

    background: var(--gradient-nav);
    border-radius: 0 10px 10px 0;
    transition: .5s;
}

nav a {
    text-decoration: none;
}

nav .bottons {
    display: flex;
    align-items: center;

    gap: 10px;
    width:80vw;
    max-width: 355px;
    height: 60px;
    padding-left: 15px;

    background: var(--gradient-bottons-links);
    color: var(--font-color);
    border-radius: 5px 0 0 5px;
    font-family:Outfit;
    font-size:smaller;
    transition: .5s;
}

nav .bottons:hover {
    width:84vw;
    max-width: 370px;
}

.bottons div {
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#github {
    background: var(--img-github) no-repeat;
}

#linkedin {
    background: var(--img-linkedin) no-repeat;
}

#portifolio {
    background: var(--img-portifolio) no-repeat;
}

#email {
    background: var(--img-email) no-repeat;
}

#instagram {
    background: var(--img-instagram) no-repeat;
}


